<% set_meta_tags  description: "Search results for #{query}.",
                  canonical: ENV['OFFICIAL_GOVERNMENT_URL'] + request.fullpath,
                  title: "Search results for #{query}." %>

<div class="page-container search">
  <div class="row">
    <div class="span9">
      <div class="main-content">
        <div class="header">
          <h1>
            Search results for: "<strong><%= query%></strong>" <br/> 
            <%= "Filter: #{filter}" unless filter.blank? %>
          </h1>
          <br/>

          <% if results.empty? %>
            <p>Sorry, no results found for "<%= query %>".  Please try rephrasing your search terms.</p>
          <% else %>
            <ul>
              <% results.each do |question| %>
                  <li class="article-listing">
                    <%= content_tag( :h2, link_to( question.text, answer_path(question) ) ) %>
                  </li>
              <% end %>
            </ul>
          <% end -%>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="sidebar">
        <div class="sidebar-unit">
          <h4 class="side-head">FILTER BY</h4>
          <br/>
          <div class="sidebar-content">
            <ul>
              <li>
                <%= link_to "All", "/search?q=#{query}" %>
              </li>
              <% facets["tag_name"]["terms"].each do |filter| %>
                <li>
                  <%= link_to "#{filter["term"]} (#{filter["count"]})", "/search?q=#{query}&tag=#{filter["term"]}" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- /span3 -->
  </div>
</div>

