<% set_meta_tags  description: "Search results for #{query}.",
                  canonical: official_government_long_url + request.fullpath,
                  title: "Search results for #{query}." %>

<div class="page-container search">
  <div class="row">
    <div class="span9">
      <div class="main-content">
        <div class="header">
          <h1>Search results for: "<strong><%= query %></strong>"</h1>
          <br/>

          <% if results.empty? %>
            <p>Sorry, no results found for "<%= query %>".  Please try rephrasing your search terms.</p>
          <% else %>
            <ul>
              <% results.each do |question| %>
                  <li class="article-listing">
                    <%= content_tag( :h2, link_to( question.text, answer_path(question) ) ) %>
                  </li>
              <% end %>
			  <%= link_to("<< Prev", params.merge({page: results.prev_page})) unless results.first_page? %>
			  <%= link_to("Next >>", params.merge({page: results.next_page})) unless results.last_page? %>
            </ul>
          <% end -%>
        </div>
      </div>
    </div>
    <div class="span3">
      <!--
      # TODO: replace with Tag
      #= render partial: 'shared/categories_sidebar', locals: {categories: categories} 
      -->
    </div><!-- /span3 -->
  </div>
</div>

