<% set_meta_tags  description: "All #{@article_type.split(/(?=[A-Z])/).join(' ')} questions.", 
                  canonical: ENV['OFFICIAL_GOVERNMENT_URL'] + request.fullpath
                  %>

<div class="page-container">
  <div class="breadcrumbs">
    <ol><%= render_breadcrumbs :tag=> :li, :separator =>" > " %></ol>
  </div>
  <div class="row">
    <div class="span9">
      <div class="main-content">
        <div class="header"><h1><%= format_article_type(@article_type) %></h1></div>
        <ul>
          <% @articles.each do |article| %>
            <li class="category-listing">
              <%= category_listing_title_tag(article) %>
              <ul class="category-articles">
                <li class="article-listing">
                  <%= content_tag(:h2, link_to(article.title, article)) %>
                  <p class="preview"><%=  article.preview %></p>
                  <div class="other-langs">
                    <%= language_preview(article, :es) %>
                    <%= language_preview(article, :es) %>
                  </div>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="span3">
      <%= render :partial => 'shared/categories_sidebar' %>
    </div><!-- /span3 -->
  </div>
</div>