<div id="footer">
  <div class="footer-nav">
    <%= link_to 'MyUSCIS', root_url %>
    <ul>
      <li>
        <%= link_to 'Live Chat', "#" %>
      </li>
      <li>
        <%= link_to 'Contact Us', "#" %>
      </li>
      <li>
        <%= link_to 'Help Center', "#" %>
      </li>
    </ul>
    <ul>
      <li>
        <%= link_to 'Forms &amp; Benefits', "#" %>
      </li>
      <li>
        <%= link_to 'Resources', "#" %>
      </li>
      <li>
        <%= link_to 'Laws', "#" %>
      </li>
      <li>
        <%= link_to 'Tools &amp; Services', "#" %>
      </li>
      <li>
        <%= link_to 'About Us', "#" %>
      </li>
    </ul>
    <ul class="legal-nav">
      <li>
        <%= link_to 'Privacy Policy', "#" %>
      </li>
      <li>
        <%= link_to 'visit USCIS.gov', 'http://uscis.gov', :target => '_blank' %>
      </li>
    </ul>
    <br clear="both" />
  </div>
  <div class="footer-seal">

  </div>
  <br clear="both" />
</div>