<div class="official-row left-margin right-margin">
  <div class="flag-div">
    <%= image_tag 'small-flag.png'  %>
    <small>Official Government Site</small>
  </div>    
</div>



<div class="top-nav-container pure-g">
  <div class="pure-u-10-24 top-nav-left-container left-margin">

    <div class="pure-u-8-24">
      <div class="uscis-logo">
        <%= link_to image_tag('uscis-logo.png', :alt => 'My USCIS'), root_url %>
      </div>
    </div>

  </div>

  <div class="pure-u-4-24 top-nav-center-container logo-col">
    <div id="uscis-logo-center">
      <%= link_to image_tag('top-nav-logo.png'), root_url %>
    </div>
  </div>

<!--
  <div class="pure-u-10-24 top-nav-right-container right-margin">

    <div class="pull-right contact-nav-container">
      <ul class="contact-nav-links contact-nav nav-list">
        
        <li class="red-text help-btn">
          <div class="contact-nav-li-inner">
            <a class="red-text" href="#">
              <img src="<%= image_url 'question-icon.png' %>"><br>Help Center
            </a>
          </div>
        </li>
      
        <li class="blue-text chat-btn">
          <div class="contact-nav-li-inner">
            <a href="#">
              <img src="<%= image_url 'message-icon.png' %>"><br>Live Chat
            </a>
          </div>
        </li>
        <li class="green-text contact-btn">
          <div class="contact-nav-li-inner">
            <a href="#">
              <img src="<%= image_url 'phone-icon.png' %>"><br>Contact
            </a>
          </div>
        </li>

      </ul>
    </div>
--->
  </div>
</div>